
  .container {
    background: url('../../../assets/pictures/Desktop - 1.png') center top no-repeat;
    
    

  }
 
  

  .content {
    
    z-index: 3;
    margin-top: 170px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; /* Center horizontally */
  justify-content: space-around; /* Center vertically */
   }

   .banner-text{
    z-index: 3;
    display: flex;
    padding-top: 80px;
    //margin-top: 4%;
    font-size: 64px;
    color: white;
    font-weight: 600;
    padding-left: 60px;
   }
   .search-bar-container {
    display: flex;
    height: 40px;
    width: 400px;
    z-index: 3;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
  }
  
  input {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 30px;
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 20px;
  }
  .magnifying-glass {
    cursor: pointer;
    background: none;
    border: none;
    height: 40px;
    align-items: center;
  }
  .button-filters{
    margin-top: 20px;
    display: flex;
    z-index: 3;
    text-align: center;

  align-items: center; /* Align items vertically */
  }
  .animal-button{
    
    background: none; 
    border: none; 
    cursor: pointer;
    text-align: center;
    
  }
  .animal-button-text{
    font-size: 13px;
    font-weight: 600;
    
  }

  .animal-container {
    padding-top: 60px;
    margin-bottom: 20px;
    padding-right: 80px;
    
    
  }
  .animal-main{
    z-index: 3;
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
  
  }
  .animal-details {
    display: flex;
    flex-direction: column;
    
    
  }
  
  .animal-image {
   
    overflow: hidden;
  }
  
  .animal-image img {
    max-width:100%;
    
    height: 170px;
    width:100%;
    border-radius: 8px 8px 0 0px;
    object-fit: cover;
  }
  
  .animal-info {
    
    margin-top: -15px;
    padding: 0px;
    width: 100%;
    
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    background-color: #ffffff; /* Set the background color for the info section */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for elevation */
  }

  .name{
    padding-left: 10px;
    font-size: 16px;
    font-weight: 600;
    
  }
  .animal-breed{
    display: flex;
  }

  .breed{
    padding-left: 10px;
    font-size: 14px;
    color: #877d8e;
    margin-top: -13px;
  }
  
  .gender-male{
    margin-left: auto;
    margin-right: 5px;
    background-color: #C3CDFF;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color:#657EFF
  }
  .gender-female{
    margin-left: auto;
    margin-right: 5px;
    background-color: #FDB4AF;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color:#FB1E10
  }
